
<div class="page-header">
  <h2>S-Node</h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Report files <span class="badge"><%= @list.size.to_s%></span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">Filename</span></td>
              <td><span class="label label-default">Grade</span></td>
              <td><span class="label label-default">Details</span></td>
              <td><span class="label label-default">Timestamp</span></td>
            </tr>
          </thead>
          <tbody>
            <% @list.each do |item| %>
              <tr>
              <% if item[:link] %>
                <td>
                  <a href="/snode/report/raw/<%=item[:filename]%>">
                    <b><%=item[:filename]%></b></a>
                </td>
                <td><span class="badge"><%=item[:grade]%></span></td>
                <% if item[:show] %>
                  <td><a href="/snode/report/show/<%=item[:filename]%>">
                    <span class="label label-primary">Show</span></a>
                  </td>
                <% else %>
                  <td></td>
                <% end %>
                <td><%= item[:timestamp] %></td>
              <% else %>
                <td><%= item[:filename] %></td>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
<!--             </div>-->

      </div>
    </div>
  </div>
</div>
