
<div class="page-header">
  <h2>S-Node</h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Report files <span class="badge"><%= @filenames.size.to_s%></span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">ID</span></td>
              <td><span class="label label-default">Filename</span></td>
              <td><span class="label label-default">Grade</span></td>
            </tr>
          </thead>
          <tbody>
            <% @filenames.each_with_index do |filepath, index| %>
              <tr>
              <% filename = File.basename(filepath) %>
              <% if filename.start_with? 'case-' %>
                <td><%= (index+1) %></td>
                <td><a href="/snode/report/raw/<%=filename%>"><b><%=filename%></b></a></td>
                <td><span class="label label-danger">Unkown</span></td>
              <% else %>
                <td><%= (index+1) %></td>
                <td><%= filename %></td>
                <td></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
<!--             </div>-->

      </div>
    </div>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
      </div>
      <div class="panel-body">
<!--    <div class="col-md-6">-->
        <ul>
          <li>Teuton-client</li>
        </ul>
<!--    </div>-->
      </div>
    </div>

  </div><!-- /.col-sm-4 -->
</div>
