
<div class="page-header">
  <h2>Test name: <%= @data[:config][:tt_testname]%></h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Target list <span class="badge"><%= @data[:groups][0][:targets].size.to_s%></span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">ID</span></td>
              <td><span class="label label-default">Description</span></td>
              <td><span class="label label-default">Score/Weight</span></td>
            </tr>
          </thead>
          <tbody>
            <% @data[:groups][0][:targets].each do |target| %>
              <tr>
                <td><%= target[:id].to_s %></td>
                <td><%= target[:description] %></td>
                <td><%= target[:score] %>/ <%= target[:weight] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
<!--             </div>-->

      </div>
    </div>
  </div>
</div>
