
<div class="page-header">
  <h2>T-Node</h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TEUTON test unit list <span class="badge"><%= @tests.size.to_s%></span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <thead>
            <tr>
              <td></td>
              <td><span class="label label-default">ID</span></td>
              <td><span class="label label-default">Test</span></td>
            </tr>
          </thead>
          <tbody>
            <% @tests.each_with_index do |filepath, index| %>
              <tr>
                <td><a href="/tnode/execute/<%=index%>">
                  <span class="label label-primary">Execute</span></a>
                </td>
                <td><%= (index+1).to_s %></td>
                <td>
                  <a href="/tnode/show/<%=index%>">
                    <b><%=filepath%></b></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
<!--             </div>-->

      </div>
    </div>
  </div>
</div>
