
<div class="page-header">
  <h2>Test: <%= @test[:dirpath] %></h2>
  <p><a href="/tnode">Choose test</a> |
     <a href="/tnode/files/<%= @test[:id] %>">Files</a> |
     Cases |
     <a href="/tnode/execute/<%= @test[:id] %>/all">Execute</a> |
     <a href="/tnode/reports/<%= @test[:id] %>">Reports</a>
  </p>
  <% unless @test[:exist][:configyaml] %>
  <p><span class="label label-default">WARN:</span> config.yaml not found!</p>
  <% end %>
  <% if @config[:cases].size.zero? %>
  <p><span class="label label-default">WARN:</span> No case defined into config.yaml!</p>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Cases <span class="badge"><%=@config[:cases].size.to_s%> cases</span></h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">Case</span></td>
              <td><span class="label label-default">Members</span></td>
              <td><a href="/tnode/execute/<%=@test[:id]%>/all"><span class="label label-primary">Execute ALL</span></a></td>
            </tr>
          </thead>

          <tbody>
            <% @config[:cases].each_with_index do |c, index| %>
            <% case_id = format('%02d', (index+1)) %>
            <tr>
              <td><%= case_id %></td>
              <td><%=c[:tt_members]%></td>
              <td><span class="label label-primary">Execute <%= case_id%></span></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
