
<div class="page-header">
  <h2>Test: <%= @test[:dirpath] %></h2>
  <p><a href="/tnode">Choose test</a> |
     Files |
     <a href="/tnode/cases/<%= @test[:id] %>">Cases</a> |
     <a href="/tnode/reports/<%= @test[:id] %>">Reports</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Test <span class="badge"><%= @test[:testfiles].size.to_s%> files</span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <tbody>
            <% @test[:testfiles].each do |filepath| %>
            <tr>
            <%   if File.basename(filepath) == 'start.rb' %>
              <td>
                <a href="/tnode/raw/<%=f2s(filepath)%>">
                  <span class="label label-primary"><%=filepath[@test[:dirpath].size + 1,filepath.size ]%></span>
                </a>
              </td>
            <% else %>
              <td><a href="/tnode/raw/<%=f2s(filepath)%>"><%=filepath[@test[:dirpath].size + 1,filepath.size ]%></a></td>
            <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Config <span class="badge"><%=@test[:configfiles].size.to_s%> files</span></h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <% @test[:configfiles].each do |filepath| %>
            <%   if File.basename(filepath) == 'config.yaml' %>
            <tr>
              <td>
                <a href="/tnode/raw/<%=f2s(filepath)%>">
                  <span class="label label-primary"><%=filepath[@test[:dirpath].size + 1,filepath.size]%></span>
                </a>
              </td>
            </tr>
            <%   else %>
            <tr>
              <td><a href="/tnode/raw/<%=f2s(filepath)%>"><%=filepath[@test[:dirpath].size + 1,filepath.size]%></a></td>
            </tr>
            <%   end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
