
<div class="page-header">
  <h2>Test: <%= @test[:dirpath] %></h2>
  <p><a href="/tnode">Choose test</a> |
     <a href="/tnode/files/<%= @test[:id] %>">Files</a> |
     <a href="/tnode/cases/<%= @test[:id] %>">Cases</a> |
     <a href="/tnode/execute/<%= @test[:id] %>/all">Execute</a> |
     Reports
  </p>
  <p>
     <a href="/tnode/report/files/<%= @test[:id] %>">Files</a> |
     <a href="/tnode/report/resume_cases/<%= @test[:id] %>">Resume Cases</a> |
     Resume Params
  </p>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resume Params</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><b>Config</b></td>
              <td></td>
              <td></td>
            <% @resume[:config].each_pair do |key, value| %>
            <tr>
              <td>
              <td><%=key%></td>
              <td><span class="label label-default"><%=value%></span></td>
            </tr>
            <% end %>
            <tr>
              <td><b>Results</b></td>
              <td></td>
              <td></td>
            <% @resume[:results].each_pair do |key, value| %>
            <tr>
              <td>
              <td><%=key%></td>
              <td><span class="label label-default"><%=value%></span></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
