
<div class="page-header">
  <h2>Test: <%= @test[:dirpath] %></h2>
  <p><a href="/tnode">Choose test</a> |
     <a href="/tnode/files/<%= @test[:id] %>">Files</a> |
     <a href="/tnode/cases/<%= @test[:id] %>">Cases</a> |
     <a href="/tnode/execute/<%= @test[:id] %>/all">Execute</a> |
     Reports
  </p>
  <p>
    <a href="/tnode/report/files/<%= @test[:id] %>">Files</a> |
     Resume Cases|
     <a href="/tnode/report/resume_params/<%= @test[:id] %>">Resume Params</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Resume <span class="badge"><%=@resume[:cases].size.to_s%> cases</span></h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">Case</span></td>
              <td><span class="label label-default">Members</span></td>
              <td><span class="label label-default">Grade</span></td>
              <td><span class="label label-default">Conn Status</span></td>
            </tr>
          </thead>

          <tbody>
            <% @resume[:cases].each do |c| %>
            <% filename = File.join('var',
                                    @test[:testname],
                                    "case-#{c[:id]}.yaml") %>
            <tr>
              <td><%=c[:id]%></td>
              <td><%=c[:members]%></td>
              <td><a href="/tnode/test/<%= f2s(@test[:dirpath])%>/case/<%=f2s(filename)%>/targets"><%=c[:grade]%></a></td>
              <% if c[:conn_status].size.zero? %>
              <td></td>
              <% else %>
              <td><span class="label label-danger"><%=c[:conn_status]%></span></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
