
<div class="page-header">
  <h2>Test: <%= @test[:dirpath]%></h2>
  <p>Case: <b><%= @data[:config][:tt_members]%></b></p>
  <p>
    <a href="/tnode/report/resume_cases/<%=@test[:id]%>">Back</a> |
    <a href="/tnode/raw/<%=params[:filename]%>">Raw</a> |
    <a href="/snode/report/<%=params[:filename]%>/config">Config</a> |
    <a href="/snode/report/<%=params[:filename]%>/results">Results</a> |
    <a href="/snode/report/<%=params[:filename]%>/logs">Logs</a> |
    Target list
  </p>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <% counter = 0
           @data[:groups].each { |group| counter += group[:targets].size } %>
        <h3 class="panel-title">Target list <span class="badge"><%= counter %></span></h3>
      </div>
      <div class="panel-body">
<!--             <div class="col-md-6">-->
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><span class="label label-default">Group</span></td>
              <td><span class="label label-default">ID</span></td>
              <td><span class="label label-default">Description</span></td>
              <td><span class="label label-default">Score/Weight</span></td>
            </tr>
          </thead>
          <tbody>
            <% @data[:groups].each do |group| %>
            <%   group[:targets].each_with_index do |target, index| %>
            <tr>
              <% if index.zero? %>
              <td><%= group[:title] %></td>
              <% else %>
              <td></td>
              <% end %>
              <td>
                <a href="/snode/report/<%=params[:filename]%>/target/<%=target[:target_id]%>">
                  <span class="label label-primary"><%= target[:target_id].to_s %></span>
                </a>
              </td>
              <td><%= target[:description] %></td>
              <td><%= target[:score] %>/ <%= target[:weight] %></td>
            </tr>
            <%
                end
              end
            %>
          </tbody>
        </table>
<!--             </div>-->

      </div>
    </div>
  </div>
</div>
